<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>

<script src="./generated_db.js" type="text/javascript"></script>
<script type="text/javascript">
function GET(path)
{
	return fetch("http://127.0.0.1:8000" + path, {
		method: "GET",
	});
}

function POST(path)
{
	return fetch("http://127.0.0.1:8000" + path, {
		method: "POST",
	});
}

function POST_withBinary(path, data)
{
	return fetch("http://127.0.0.1:8000" + path, {
		method: "POST",
		headers: { "Content-Type": "application/octet-stream" },
		body: data,
	});
}

function POST_asForm(path, variables)
{
	let formParts = [];
	for (let property in variables) {
		let encodedKey = encodeURIComponent(property);
		let encodedValue = encodeURIComponent(variables[property]);
		formParts.push(encodedKey + "=" + encodedValue);
	}
	let formBody = formParts.join("&");
	return fetch("http://127.0.0.1:8000" + path, {
		method: "POST",
		headers: { "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8" },
		body: formBody,
	});
}

function DELETE(path)
{
	return fetch("http://127.0.0.1:8000" + path, {
		method: "DELETE",
	});
}

function stopServer()
{
	POST("/stop")
		.then(data => data.text())
		.then(text => console.log(text));
}

function startCamera(height, width, fps)
{
	return new Promise((resolve, reject) => {
		let constraints = { video: { width: {exact: width}, height: {exact: height}, frameRate: {exact: fps}}, audio: {channelCount: {exact: 1}}};
		navigator.mediaDevices.getUserMedia(constraints).then(resolve, reject);
	});
}

function stopCamera(previewElement, videoConfig)
{
	previewElement.srcObject = null;
	videoConfig.stream.getTracks().forEach(function(track) { track.stop(); });
	videoConfig.stream = null;
}

function startRecording(stream, videoKilobits, audioKilobits, draftId, height, width, finalSizeCallback)
{
	let recorder = new MediaRecorder(stream, { mimeType: 'video/webm', audioBitsPerSecond: (audioKilobits * 1000),  videoBitsPerSecond: (videoKilobits * 1000) });
	let bytes = 0;
	let ws = new WebSocket("ws://127.0.0.1:8000/draft/saveVideo/" + draftId + "/" + height + "/" + width, "webm");
	ws.onopen = function()
	{
		recorder.addEventListener('dataavailable', function(e) {
			bytes += e.data.size;
			ws.send(e.data);
		});
		recorder.addEventListener('stop', function() {
			ws.close();
		});
		recorder.start(100);
	}
	ws.onclose = function(e)
	{
		finalSizeCallback(bytes);
	}
	return recorder;
}

function stopRecording(videoConfig)
{
	videoConfig.recorder.stop();
	videoConfig.recorder = null;
}

function selectDraft(canvas, original_review, processed_review, scope, draft)
{
	scope.selectedDraft = draft;
	if (null !== draft)
	{
		if (null !== draft.thumbnail)
		{
			let image = new Image();
			image.onload = function () {
				canvas.getContext('2d').drawImage(image, 0, 0);
			};
			image.src = "http://127.0.0.1:8000/draft/thumb/" + draft.id + "?uniq=" + (new Date()).getTime();
		}
		else
		{
			canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
		}
		if (null !== draft.originalVideo)
		{
			scope.videoConfig.height = draft.originalVideo.height;
			scope.videoConfig.width = draft.originalVideo.width;
			original_review.src = "http://127.0.0.1:8000/draft/originalVideo/" + draft.id + "?uniq=" + (new Date()).getTime();
		}
		else
		{
			scope.videoConfig.height =  720;
			scope.videoConfig.width = 1280;
			original_review.src = "";
		}
		
		if (null !== draft.processedVideo)
		{
			processed_review.src = "http://127.0.0.1:8000/draft/processedVideo/" + draft.id + "?uniq=" + (new Date()).getTime();
		}
		else
		{
			processed_review.src = "";
		}
	}
	else
	{
		original_review.src = "";
		processed_review.src = "";
	}
}

function postUpdatedThumbnail(canvas, captureVideo, selectedDraft, width, height, applyCallback)
{
	canvas.getContext('2d').drawImage(captureVideo, 0, 0, width, height);
	canvas.toBlob((blob) => {
		POST_withBinary("/draft/thumb/" + selectedDraft.id + "/" + height + "/" + width, blob);
			selectedDraft.thumbnail = {
				height: height,
				width: width,
				byteSize: blob.size,
			};
	}, "image/jpeg");
}

function saveDraft(selectedDraft)
{
	let variables = {
		"title": selectedDraft.title,
		"description": selectedDraft.description,
	};
	if (null != selectedDraft.discussionUrl)
	{
		variables["discussionUrl"] = selectedDraft.discussionUrl;
	}
	return POST_asForm("/draft/" + selectedDraft.id, variables);
}


// We will create an Angular controller and populate it with data from generated_db.js.
var GLOBAL_Application = angular.module('App', []);
GLOBAL_Application.controller('AppController', function($scope)
{
	let canvas = document.getElementById('canvas');
	let video_preview = document.getElementById('video_preview');
	let original_review = document.getElementById('original_review');
	let processed_review = document.getElementById('processed_review');
	let progress_bar = document.getElementById('progress_bar');
	
	$scope.drafts = null;
	$scope.selectedDraft = null;
	$scope.inProgress = false;
	$scope.publishInProgress = false;
	
	$scope.videoConfig = {
		height: 720,
		width: 1280,
		fps: 15,
		stream: null,
		
		videoKilobits: 256,
		audioKilobits: 64,
		recorder: null,
		
		recompressionCommand: "ffmpeg -i -  -c:v libvpx-vp9 -b:v 256k -filter:v fps=15 -c:a libopus -b:a 32k -f webm  -",
		processingSocket: null,
		finalProcessed: 0,
	};
	
	$scope.selectDraft = function(draft)
	{
		selectDraft(canvas, original_review, processed_review, $scope, draft);
	}
	$scope.createNewDraft = function()
	{
		POST("/createDraft")
			.then(data => data.json())
			.then(draftObject => {
				$scope.drafts.push(draftObject);
				$scope.selectedDraft = draftObject;
				$scope.$apply();
			});
	}
	$scope.deleteDraft = function(draft)
	{
		DELETE("/draft/" + draft.id)
			.then(data => {
				if ((null !== $scope.selectedDraft) && ($scope.selectedDraft.id === draft.id))
				{
					selectDraft(canvas, original_review, processed_review, $scope, null);
				}
				$scope.drafts = $scope.drafts.filter((element, index, array) => {
					return (element.id !== draft.id);
				});
				$scope.$apply();
			});
	}
	$scope.startCamera = function()
	{
		startCamera($scope.videoConfig.height, $scope.videoConfig.width, $scope.videoConfig.fps)
			.then(result => {
				$scope.videoConfig.stream = result;
				video_preview.srcObject = result;
				$scope.$apply();
			}, error => {
				alert(error);
				$scope.$apply();
			});
	}
	$scope.stopCamera = function()
	{
		stopCamera(video_preview, $scope.videoConfig);
	}
	$scope.startRecording = function()
	{
		$scope.videoConfig.recorder = startRecording($scope.videoConfig.stream
			, $scope.videoConfig.videoKilobits
			, $scope.videoConfig.audioKilobits
			, $scope.selectedDraft.id
			, $scope.videoConfig.height
			, $scope.videoConfig.width
			, function(finalByteSize)
			{
				$scope.selectedDraft.originalVideo = {
					height: $scope.videoConfig.height,
					width: $scope.videoConfig.width,
					byteSize: finalByteSize,
				};
				$scope.$apply();
				original_review.src = "http://127.0.0.1:8000/draft/originalVideo/" + $scope.selectedDraft.id + "?uniq=" + (new Date()).getTime();
			}
		);
	}
	$scope.stopRecording = function()
	{
		stopRecording($scope.videoConfig);
	}
	$scope.startProcessing = function()
	{
		$scope.videoConfig.processingSocket = new WebSocket("ws://127.0.0.1:8000/draft/processVideo/" + $scope.selectedDraft.id + "/" + encodeURIComponent($scope.videoConfig.recompressionCommand), "process");
		$scope.videoConfig.processingSocket.onopen = function()
		{
			console.log("Process start");
		}
		$scope.videoConfig.processingSocket.addEventListener('message', (event) => {
			let object = JSON.parse(event.data);
			if ("progress" == object.type)
			{
				let percentage = Math.round(100 * object.bytes / $scope.selectedDraft.originalVideo.byteSize);
				console.log("Processing " + percentage + "%");
				progress_bar.ariaValueNow = percentage;
				progress_bar["style"] = "width: " + percentage + "%;";
				progress_bar.textContent = percentage + "%";
			}
			else if ("done" == object.type)
			{
				$scope.videoConfig.finalProcessed = object.bytes;
			}
		});
		$scope.videoConfig.processingSocket.onclose = function(e)
		{
			$scope.selectedDraft.processedVideo = {
				height: $scope.videoConfig.height,
				width: $scope.videoConfig.width,
				byteSize: $scope.videoConfig.finalProcessed,
			};
			$scope.videoConfig.processingSocket = null;
			$scope.videoConfig.finalProcessed = 0;
			$scope.$apply();
			processed_review.src = "http://127.0.0.1:8000/draft/processedVideo/" + $scope.selectedDraft.id + "?uniq=" + (new Date()).getTime();
			console.log("Process DONE");
		}
	}
	$scope.stopProcessing = function()
	{
		$scope.videoConfig.processingSocket.close();
	}
	$scope.captureFromPreview = function()
	{
		postUpdatedThumbnail(canvas, video_preview, $scope.selectedDraft, $scope.videoConfig.width, $scope.videoConfig.height, function() {});
	}
	$scope.captureOriginal = function()
	{
		postUpdatedThumbnail(canvas, original_review, $scope.selectedDraft, $scope.videoConfig.width, $scope.videoConfig.height, function() { $scope.$apply(); });
	}
	$scope.captureProcessed = function()
	{
		postUpdatedThumbnail(canvas, processed_review, $scope.selectedDraft, $scope.videoConfig.width, $scope.videoConfig.height, function() { $scope.$apply(); });
	}
	$scope.saveDraft = function()
	{
		$scope.inProgress = true;
		saveDraft($scope.selectedDraft)
			.then(data => {
				$scope.inProgress = false;
				$scope.$apply();
			});
	}
	$scope.publish = function()
	{
		$scope.inProgress = true;
		$scope.publishInProgress = true;
		// We need to save-back the draft before publishing since the server publishes from the saved state.
		saveDraft($scope.selectedDraft).then(function(data) {
			// Now, begin the publish.
			POST("/draft/publish/" + $scope.selectedDraft.id)
				.then(function(data) {
					$scope.drafts = $scope.drafts.filter(elt => elt !== $scope.selectedDraft);
					$scope.selectedDraft = null;
					$scope.inProgress = false;
					$scope.publishInProgress = false;
					$scope.$apply();
				});
		});
	}
	
	// NOTE:  We need to call this "cookie" page to set the cookie to defeat some XSRF cases (we mostly rely on SameSite to make this safe).
	POST("/cookie").then(function() {
		GET("/drafts")
			.then(data => data.json())
			.then(json => {
				$scope.drafts = json;
				$scope.$apply();
			});
	});
});

</script>

	<title>Cacophony - Static Index</title>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body ng-controller="AppController">
<nav class="navbar navbar-inverse">
	<ul class="nav navbar-nav">
		<li><a class="navbar-link" href="index.html">Index</a></li>
		<li><a class="navbar-link" href="prefs.html">Preferences</a></li>
		<li><a class="navbar-link" href="user.html">This User</a></li>
		<li><a class="navbar-link" href="recommending.html">Recommended Users</a></li>
		<li><a class="navbar-link" href="following.html">Users you Follow</a></li>
		<li><a class="navbar-link" href="publish.html">Publish or Create Draft</a></li>
	</ul>
</nav>
<div class="container">
	<div class="row">
		<div class="well col-md-3">
			<div class="row"><a class="btn" href="index.html">Index</a></div>
			<div class="row"><a class="btn" href="prefs.html">Preferences</a></div>
			<div class="row"><a class="btn" href="user.html">This User</a></div>
			<div class="row"><a class="btn" href="recommending.html">Recommended Users</a></div>
			<div class="row"><a class="btn" href="following.html">Users you Follow</a></div>
			<div class="row"><a class="btn" href="publish.html">Publish or Create Draft</a></div>
		</div>
		<div class="well col-md-6">
			<em ng-show="null == drafts">Loading drafts...</em>
			<div class="row" ng-show="null != drafts">Drafts ({{drafts.length}}):<br />
				<ul>
					<li ng-repeat="draft in drafts"><button class="btn btn-sm btn-danger" ng-click="deleteDraft(draft)">Delete</button> <a ng-click="selectDraft(draft)">{{draft.title}}</a></li>
				</ul>
			</div>
		</div>
		<div class="well col-md-3">
			<button class="btn btn-danger" onClick="stopServer()">STOP SERVER</button><br/>
			<button class="btn btn-small btn-success" ng-click="createNewDraft()" ng-disabled="inProgress">New Draft</button><br />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well" ng-show="null == selectedDraft">
				Select a draft to see details.
			</div>
			<div class="well" ng-show="null != selectedDraft">
				Draft:  <strong>{{selectedDraft.title}}</strong>.<br />
				<div class="well">
					Video preview: <br />
					Height: <input type="text" class="form-control" ng-model="videoConfig.height" ng-disabled="null != videoConfig.stream"></input><br />
					Width: <input type="text" class="form-control" ng-model="videoConfig.width" ng-disabled="null != videoConfig.stream"></input><br />
					Framerate: <input type="text" class="form-control" ng-model="videoConfig.fps" ng-disabled="null != videoConfig.stream"></input><br />
					<video id="video_preview" playsinline autoplay muted></video><br />
					<button class="btn btn-success" ng-click="startCamera()" ng-disabled="null != videoConfig.stream">Start Camera</button>
					<button class="btn btn-danger" ng-click="stopCamera()" ng-disabled="null == videoConfig.stream">Stop Camera</button>
				</div>
				<div class="well" ng-show="null != videoConfig.stream">
					Recording: <br />
					Video kBits/s: <input type="text" class="form-control" ng-model="videoConfig.videoKilobits" ng-disabled="null != videoConfig.recorder"></input><br />
					Audio kBits/s: <input type="text" class="form-control" ng-model="videoConfig.audioKilobits" ng-disabled="null != videoConfig.recorder"></input><br />
					<button class="btn btn-success" ng-click="startRecording()" ng-disabled="null != videoConfig.recorder">Start Recording</button>
					<button class="btn btn-danger" ng-click="stopRecording()" ng-disabled="null == videoConfig.recorder">Stop Recording</button>
				</div>
				<div class="well" ng-show="selectedDraft.originalVideo.byteSize > 0">
					<video id="original_review" controls></video><br />
					Original video:  {{selectedDraft.originalVideo.byteSize}} bytes.
				</div>
				<div class="well"  ng-show="selectedDraft.originalVideo.byteSize > 0">
					Post-processing: <br />
					Web browsers typically do a poor job of compressing video since they are favouring real-time framerate, as opposed to minimal size.<br />
					Since most web applications rely on a central server to do recompression, for their own storage benefits, this isn't as big a deal as it is for Cacophony (since every user hosts whatever they record, and their followers replicate it).  To allow better compression, Cacophony can invoke host-side recompression programs, if you have one installed.<br />
					Recompression command: <input type="text" class="form-control" ng-model="videoConfig.recompressionCommand" ng-disabled="null != videoConfig.processingSocket"></input><br />
					<button class="btn btn-success" ng-click="startProcessing()" ng-disabled="null != videoConfig.processingSocket">Start Processing</button>
					<button class="btn btn-danger" ng-click="stopProcessing()" ng-disabled="null == videoConfig.processingSocket">Stop Processing</button>
					<div class="progress" ng-show="null != videoConfig.processingSocket">
						<div class="progress-bar" id="progress_bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
							0%
						</div>
					</div>
					<div class="well" ng-show="selectedDraft.processedVideo.byteSize > 0">
						<video id="processed_review" controls></video><br />
						Processed video:  {{selectedDraft.processedVideo.byteSize}} bytes.
					</div>
				</div>
				<div class="well">
					Thumbnail: <br />
					<canvas id="canvas" width="{{videoConfig.width}}" height="{{videoConfig.height}}"></canvas>
					<button class="btn btn-success" ng-click="captureFromPreview()" ng-disabled="null == videoConfig.stream">Capture from preview</button>
					<button class="btn btn-success" ng-click="captureOriginal()" ng-disabled="(null == selectedDraft.originalVideo) || (0 == selectedDraft.originalVideo.byteSize)">Capture from original video</button>
					<button class="btn btn-success" ng-click="captureProcessed()" ng-disabled="(null == selectedDraft.processedVideo) || (0 == selectedDraft.processedVideo.byteSize)">Capture from processed video</button>
				</div>
				<div class="well">
					Title: <input type="text" class="form-control" ng-model="selectedDraft.title"></input><br />
					<textarea class="form-control" ng-model="selectedDraft.description" rows="4" maxlength="2000"></textarea><br />
					Discussion URL: <button class="btn btn-small" ng-click="selectedDraft.discussionUrl = ''" ng-show="null == selectedDraft.discussionUrl">Add Discussion URL</button>
					<input type="text" class="form-control" ng-model="selectedDraft.discussionUrl" ng-show="null != selectedDraft.discussionUrl"></input><br />
					<button class="btn btn-success" ng-click="saveDraft()" ng-disabled="inProgress">Save Draft</button>
					<button class="btn btn-danger" ng-click="publish()" ng-disabled="publishInProgress">Publish</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>

